services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD_FILE: /run/secrets/mysql_user_password
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
    secrets:
      - mysql_user_password
      - mysql_root_password
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - mysql_net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mysql
      PMA_ARBITRARY: 1
    ports:
      - 8080:80
    networks:
      - mysql_net
    depends_on:
      - mysql

volumes:
  mysql_data:

networks:
  mysql_net:
    driver: bridge

secrets:
  mysql_user_password:
    file: ./secrets/mysql_user_password
  mysql_root_password:
    file: ./secrets/mysql_root_password
