services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    entrypoint: ["/bin/sh", "-c", "cloudflared tunnel run --token $(cat /run/secrets/cloudflared_token)"]
    secrets:
      - cloudflared_token
    networks:
      - cloudflared_net

  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - npm_data:/data
      - npm_letsencrypt:/etc/letsencrypt
    networks:
      - cloudflared_net

volumes:
  npm_data:
  npm_letsencrypt:

networks:
  cloudflared_net:
    driver: bridge

secrets:
  cloudflared_token:
    file: ./secrets/cloudflared_token
